
@model MVCDesingUI.Models.Product
@{
    ViewBag.Title = "DisplayProduct";
}

<div>
    @{ 
        string strHeader = Html.Partial("_Header").ToString();
        strHeader = strHeader.Replace("150", "200");
        strHeader = strHeader.Replace("azure", "aquamarine");
        MvcHtmlString mvcHtml = new MvcHtmlString(strHeader);
      @mvcHtml;

    }

</div>
<h2>DisplayProduct</h2>
<table>
    <tr>
        <td>
            Product Id :
        </td>
        <td>
            @Model.ProductID
        </td>
    </tr>
    <tr>
        <td>
            Product Name :
        </td>
        <td>
            @Model.ProcName
        </td>
    </tr>
    <tr>
        <td>
            Product Desicpation :
        </td>
        <td>
            @Model.ProcDescription
        </td>
    </tr>
    <tr>
        <td>
            Product Country :
        </td>
        <td>
            @Model.ProdCountry
        </td>
    </tr>
    <tr>
        <td>
            Product Class :
        </td>
        <td>
            @Model.ProductClass
        </td>
    </tr>
    <tr>
        <td>
            Product Price :
        </td>
        <td>
            @Model.ProductPrice
        </td>
    </tr>

</table>
<h1>
    @Html.DisplayNameFor(s=>s.ProductID) : @Html.DisplayFor(s=>s.ProductID)
</h1><br />
<h1>
    @Html.DisplayNameFor(s=>s.ProcName):@Html.DisplayFor(s => s.ProcName);
</h1>
<br />
<h1>
    @Html.DisplayNameFor(s=>s.ProcDescription):@Html.DisplayFor(s => s.ProcDescription);
</h1>

